*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=============================
nav starts*/

#nav{
    z-index: 1;
}

#nav .navbar-brand{
    font-size: 24px;
    font-family: 'Euclid Circular B', sans-serif;
}

#nav .navbar-nav .nav-item button{
    border: 1px solid#e6e6e6;
    border-radius: 16px;
    padding: 14px 20px;
    background: none;

}

#nav .navbar-nav{
    margin-left: 100px;
}

#nav .navbar-nav .nav-item button .app-logo{
    margin-right: 7px;
}


/*===================================

banner starts*/

#banner{
    z-index: 10;
    margin-top: -100px;
    background-image: url(../images/bg\ 3.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    /* width: 50%; */
    background-size: 50%;
    height: 100vh;
    margin-bottom: 120px;
}

#banner .banner-text h1{
    font-family: 'Euclid Circular B', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 90px;
    padding-right: 50px;
    margin-top: 180px;
}

#banner .banner-text p{
    font-weight: 400;
    font-size: 26px;
    font-family: 'Euclid Circular B', sans-serif;
    margin: 30px 0 35px 0;
}

#banner .banner-text button{
    background: #130f49;
    color: white;
    border: none;
    border-radius: 17px;
    padding: 18px 28px;
    font-family: 'Euclid Circular B', sans-serif;
    font-size: 15px;
}

#banner .banner-image{
    position: relative;
}

#banner .banner-image img{
    width: 100%;
    margin-top: 100px;
    position: absolute;
    right: 100px;
    transform: scale(1.2);
}


/*====================================
section 2*/

#section-2{
    margin-bottom: 220px;
}

#section-2 .circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #fecfd0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
}

#section-2 .circle img{
    z-index: 1;
    box-shadow: 15px 5px 35px -3px rgba(227,81,104,0.39);
    -webkit-box-shadow: 15px 5px 35px -3px rgba(227,81,104,0.39);
    -moz-box-shadow: 15px 5px 35px -3px rgba(227,81,104,0.39);
}

#section-2 .section-2-text h1{
    font-size: 68px;
    font-weight: 500;
    font-family: 'Euclid Circular B', sans-serif;
    color: #130f49;
    padding-right: 235px;
    margin-bottom: 25px;
}

#section-2 .section-2-text p{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Euclid Circular B', sans-serif;
    color: #130f49;
    opacity: 0.4;
    padding-right: 235px;
    margin-bottom: 50px;
}

#section-2 .section-2-text button{
    background: #CCE8FD;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    font-size: 19px;
    font-family: 'Euclid Circular B', sans-serif;
    font-weight: 400;
    color: #130f49;
}

#section-2 .section-2-text button span{
    color: #130f49;
    font-size: 14px;
    font-family: 'Euclid Circular B', sans-serif;
    font-weight: 500;
    opacity: 0.4;
}

#section-2 .section-2-text button i{
    font-size: 25px;
    padding-bottom: 30px;
}


/*====================================
section 3*/


#section-3{
    background-image: url(../images/bg\ 3\ 2.png);
    background-repeat: no-repeat;
    height: 100vh;
}

#section-3 h1{
    font-size: 85px;
    padding-right: 100px;
    font-family: 'Euclid Circular B', sans-serif;
    font-weight: 500;
    color: #130f49;
    margin-bottom: 60px;
}

#section-3 h5{
    font-size: 40px;
    padding-right: 100px;
    font-family: 'Euclid Circular B', sans-serif;
    font-weight: 400;
    color: #130f49;
    opacity: 0.4;
    margin-top: 150px;
}

#section-3 .content-box{
    padding-left: 100px;
    margin-top: 40px;
}

#section-3 .content-box-item{
    background: white;
    display: inline-block;
    border-radius: 29px;
    padding: 28px 23px 15px 23px;
    text-align: center;
    margin-bottom: 30px;
}

#section-3 .content-box-item h6{
    font-weight: 400;
    font-family: 'Euclid Circular B', sans-serif;
    color: #0b0736;
    font-size: 14px;
}

#section-3 .content-box-item p{
    font-weight: 400;
    font-family: 'Euclid Circular B', sans-serif;
    color: #0b0736;
    font-size: 14px;
    opacity: 0.4;
}